<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>

    <h1><%= title %></h1>

    <form method="GET" action="/tvshows">
        <label for="category">Select TV Show Category:</label>
        <select id="category" name="category" onchange="this.form.submit()">
            <option value="airing_today" <%= selectedCategory === 'airing_today' ? 'selected' : '' %>>Airing Today</option>
            <option value="on_the_air" <%= selectedCategory === 'on_the_air' ? 'selected' : '' %>>On The Air</option>
            <option value="popular" <%= selectedCategory === 'popular' ? 'selected' : '' %>>Popular</option>
            <option value="top_rated" <%= selectedCategory === 'top_rated' ? 'selected' : '' %>>Top Rated</option>
        </select>
    </form>

    <div id="data-container">
        <% if (tvshows && tvshows.length > 0) { %>
            <% tvshows.forEach(show => { %>
                <div class="card">
                    <img src="https://image.tmdb.org/t/p/w200<%= show.poster_path %>" alt="<%= show.name %> Poster">
                    <h3><%= show.name %></h3>
                    <p><%= show.first_air_date %></p>
                    <p class="colorT"> <%= show.vote_average %></p>
                    <p><%= show.overview.substring(0, 100) %>...</p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No TV shows available.</p>
        <% } %>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
